
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><h5>Vietnamese Menonite Church</h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/members">Member</a>
                </li>
                <li class="nav-item mr-5">
                    <a class="nav-link" href="/receipts">Receipts</a>
                </li>

                <li class="nav-item">
                    <%if signed_in?%>
                    <%= button_to "Sign out", sign_out_path, method: :delete, class: "btn btn-secondary"%>
                    <% end %>
                </li>
            </ul>
        </div>
    </nav>

<div class="container-fluid">
  
<h1>Members</h1>
  <div class="row col-md-12">
    <div class="col-md-6">
        <p class="text-success" id="notice"><%= notice %></p>
        <%if params[:name].present?%>
        <a href="/members"> < Back </a>
        <% end %>
    </div>
  </div>

 <div class="row col-md-12 mt-5">
        <div class="col-md-6 mb-3">
          <%= link_to '+ Add New Member', new_member_path, class: "btn btn-primary" %>
        </div>
        <div class="col-md-6">
            <form class="form-inline my-2 my-lg-0" method="get" accept-charset="UTF-8" action="/members" >
                <input class="form-control mr-sm-2"  name="name" id="name" required type="search" placeholder="Name" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
              </form>
        </div>
  </div>
<br>

<table class="table table-striped">
  <thead class="thread-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.address %></td>
        <td><%= member.phone %></td>
        <td><%= link_to 'Detail', member, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_member_path(member), class: "btn btn-success" %></td>
         <td><%= link_to 'Delete', member, method: :delete, class: "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <div class="row col-md-12 mt-5">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
  </div>
<br>

</div>
